CSS

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#0d0d0d;
color:white;
}

header{

position:fixed;

width:100%;

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 80px;

background:rgba(0,0,0,.85);

backdrop-filter:blur(10px);

z-index:1000;

}

.logo{

font-size:40px;

font-weight:bold;

letter-spacing:4px;

color:#d4af37;

}

.logo span{

color:white;

}

nav a{

color:white;

text-decoration:none;

margin-left:40px;

transition:.3s;

}

nav a:hover{

color:#d4af37;

}

.hero{

display:flex;

align-items:center;

justify-content:space-between;

padding:170px 80px;

min-height:100vh;

}

.left{

width:45%;

}

.small{

letter-spacing:4px;

color:#d4af37;

margin-bottom:20px;

}

h1{

font-size:80px;

line-height:85px;

margin-bottom:30px;

}

.desc{

font-size:20px;

line-height:34px;

color:#cfcfcf;

margin-bottom:40px;

}

.button{

display:inline-block;

padding:18px 40px;

background:black;

color:#d4af37;

border:2px solid #d4af37;

text-decoration:none;

font-size:18px;

transition:.4s;

}

.button:hover{

background:#d4af37;

color:black;

}

.right img{

width:650px;

}

section{

padding:140px 80px;

}

h2{

font-size:50px;

margin-bottom:20px;

color:#d4af37;

}
