*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#fff;
    color:#111;
    overflow-x:hidden;
}

header{
    width:100%;
    padding:25px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
}

.logo{
    font-size:32px;
    font-weight:bold;
}

.logo span{
    color:#D4AF37;
}

nav{
    display:flex;
    gap:40px;
}

nav a{
    text-decoration:none;
    color:#111;
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#ff6b00;
}

.hero{
    height: 100vh;
    width: 100%;
    background: url("Cover1.jpg") no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 8%;
}

/* gelapkan sikit background supaya text clear */
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1;
}

.content{
    position: relative;
    z-index: 2;
    color: white;
    max-width: 600px;
}

.small{
    letter-spacing: 2px;
}

h1{
    font-size: 48px;
    line-height: 1.2;
}

.desc{
    margin-top: 15px;
    font-size: 16px;
    opacity: 0.9;
}

.button{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* Gold text */
.gold{
    color:#D4AF37;
}
